@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Italianno&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #edede9;
  gap: 40px;
  height: 100vh;
  width: 100vw;
  padding: 0 2rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.hero-text {
  max-width: 600px;
  font-family: 'Public Sans', 'Source Serif 4', Arial, sans-serif;
  padding-left: 1rem;
  text-align: left;
}

.hero-text h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: #bb9457;
  font-family: 'Winky Rough', 'Faculty Glyphic', 'Italianno', cursive, sans-serif;
}

.hero-text p {
  font-size: 1.2rem;
  color: #bb9457;
  margin-bottom: 30px;
  line-height: 1.6;
  font-family: 'Source Serif 4', 'Public Sans', serif;
}

.hero-text a {
  display: inline-block;
  padding: 14px 28px;
  font-size: 1rem;
  background-color: #d5bdaf;
  color: #bb9457;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-family: 'Public Sans', Arial, sans-serif;
  transition: background-color 0.3s ease ;
}

.hero-text a:hover {
  background-color: #e3d5ca;
  transform: translateY(-2px) scale(1.04);
}

.hero-image img {
  max-width: 100%;
  height: auto;
  max-height: 550px;
  border-radius: 16px;
}


@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    padding: 2rem 1.5rem;
    height: auto;
  }

  .hero-text {
    padding: 0;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 2.2rem;
  }

  .hero-image img {
    padding: 0;
    max-height: 300px;
    width: auto;
  }
}
