body{
  margin: 0px;
}
.container {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
    border: 3px solid #7f4f24;
    border-radius: 10px;
  }
  
  .container input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 90%;
  }
  
  .container button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  